<mat-card>Ingrese datos del Examen</mat-card>

<form class="example-container" [formGroup]="form" #frmPaciente="ngForm" (ngSubmit)="operar()">
    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="id">
        </mat-form-field>
    </div>
    <mat-form-field class="example-full-width">        
        <input matInput placeholder="Nombre" minlength="3" required formControlName="nombre">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Descripcion" required formControlName="descripcion">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="frmPaciente.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" routerLink='/examen' type="button">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>
</form>